<%= form_with(model: @property, local: true) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_expalanation">
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @property.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="property_name">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="property_rent">
    <%= f.label :rent %><br>
    <%= f.text_field :rent %>円<br>
  </div>
  <div class="property_address">
    <%= f.label :address %><br>
    <%= f.text_field :address %><br>
  </div>
  <div class="property_age">
    <%= f.label :age %><br>
    <%= f.text_field :age %>年<br>
  </div>
  <div class="property_note">
    <%= f.label :note %><br>
    <%= f.text_area :note %><br>
  </div>
  <hr>
  <% count = 1 %>
  <%= f.fields_for :stations do |station| %>
    <h2>最寄り駅<%= count %></h2>
    <div class="station_route">
      <%= station.label :route %><br>
      <%= station.text_field :route %><br>
    </div>
    <div class="station_name">
      <%= station.label :name %><br>
      <%= station.text_field :name %><br>
    </div>
    <div class="station_minutes_foot">
      <%= station.label :minutes_foot %><br>
      <%= station.text_field :minutes_foot %>分<br>
    </div>
    <% count += 1 %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
